*{
	font-family: poppins;
	/*color: #231F20;*/

    /* orange FFC064 #FFBF00 FF6680 red light green #F94449 red #39e75f */
	color: #231F20;
}

header{
    background:#2b3c4d;
}

body {
	background: #fff;
}

.cstm-card{
    height: 200px;
    width: 90%;
    margin-right: 5%;
    padding: 20px;
 /*   padding-top: 20px;*/
    background:#FFBF00 ;
     box-shadow: 0 2px 2px rgba(0,0,0,.08),0 2px 2px rgba(0,0,0,.08);
     color: white !important;
     margin-top: 25px;

     cursor: pointer;
}
.cstm-card * {
    color: white;
}

.cstm-card span{
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    position: relative;
    top: 0px;
}

.amber{
    background:#FFBF00 ;
}
.green{

    background:#a3a740 ;
}
.red{
    background: #F94449;
}

#main .cstm-card h4{
     font-family: 'Poppins';
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 10px;
   /* text-align: right;*/
}
  
#main .cstm-card h1{
    font-size: 36px;
     text-align: right;
     margin-top: 3px;
}
.cstm-nav{
	height: 150px;
	 box-shadow: 0 2px 2px rgba(0,0,0,.08),0 2px 2px rgba(0,0,0,.08);
	 width: 100%;
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;

}

#main h1 {
	font-weight: 700;
	font-size: 1.125rem;
	margin-top: 50px;
}

.cstm-logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btns{
/* background:#f3f0f4 ; */
background: #e1e1e1;

height: 42px;
width: 40%;
display: flex;
border-radius: 30px;


}

.top-btns a {

	width: 50%;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-family: poppins;
	font-weight: 600;
	height: 42px;
	text-decoration: none;
	border-radius: 30px;
	/* background: #f3f0f4 ; */
    background: #e1e1e1;
}

.top-btns a.stm-active{
	background:  #e1e1e1;
}

.top-btns a.cstm-footprint{

    background: #91cfce ;
}
.top-btns a.cstm-recommendations{

    background: #a3a740 ;
}

.cstm-btn{
	box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
    background: #2b3c4d;
	width: 320px;
	height: 72px;
    color:white;
	border-radius: 50px;
	font-family: poppins;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 20px;
	border: none;
}
.cstm-footprint{
    background: #91cfce;
}
.modal-content{
	background: #f5f5f5;

	padding-left: 40px;
    padding-right: 18px;
   /* width: 614px;*/
}
.modal-title{
	    width: 90%;
    text-align: center;
}

.number-input{
	display: flex;
}
.cstm-margin{
	margin-top: 15px;
}
.number-input input[type=number]{

	width: 100px;
	text-align: center;
	padding-left: 	0px;
	padding-right: 	0px;
}

.cstm-modal .question {
	font-size: 23px;
	margin-top: 17px;
}


.cstm-modal .modal-title-cstm {
    font-size: 23px;
    margin-top: 17px;
}


.number-input>input{

 width: 230px;
}

.cstm-modal .number-input button{

	width: 40px;
	color: black;
	border: none;
	background: transparent;
	font-size: 36px;
	box-shadow: none;
}
.top-heading{
	font-family: poppins;
	color: #231F20;
	font-weight: 700;
	font-size: 42px !important;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.top-heading span{
	font-size: 72px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.cstm-modal #select-button{
	box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
	width: 468px;
	height: 62px;
	border-radius: 50px;
	font-family: poppins;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 20px;
	border: none;
	border: 3px solid #231F20;
	font-size: 28px;
	font-weight: 400;
	padding: 5px;
	padding-left: 15px;
	
}


.cstm-modal select option:hover{
	background: purple;

	font-size: 12px ;
	width: 350px;
}

.cstm-modal input{
	box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
	width: 468px;
	height: 62px;
	border-radius: 50px;
	font-family: poppins;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 20px;
	border: none;
	border: 3px solid #231F20;
	font-size: 23px;
	font-weight: 400;
	padding: 5px;
	padding-left: 15px;
	background: transparent;

	color: #231F20;
	margin-top: 27px;
	margin-bottom: 27px;
}

.cstm-modal input::placeholder{
	color:#332F30 ;
}
.cstm-modal .custom-select{


	box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
	width: 468px;
	height: 62px;
	border-radius: 50px;
	font-family: poppins;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 20px;
	border: none;
	border: 3px solid #231F20;
	font-size: 23px;
	font-weight: 400;
	padding: 5px;
	padding-left: 15px;

	color: #231F20;
}
.cstm-modal button{
	box-shadow: inset 0 0 .5rem rgba(0,0,0,.1);
	width: 120px;
	height: 62px;
	border-radius: 40px;
	font-family: poppins;
	font-weight: 600;
	font-size: 1rem;
	margin-top: 20px;

	font-size: 18px;
	font-weight: 600;
	padding: 5px;

	background: white;
	color: #231F20;
	border: 3px solid #231F20;
	
}

.selectedType{
	border: none;
background: #a3a740;
color: white;
	
}

.carInput{

	width: 100%;
	color: black ;
}


.carInput{
	width: 100% !important;
	margin: 0px !important;
	background: white !important;
	color: black !important;
}

.carInput::placeholder{
color: #aaa; !important;
	font-size: 18px;
	font-weight: normal;

}
.cars{
	height: 62px;
}
.cstm-modal button.selected{
	border: none;
background: #231F20;
color: white;
	
}













/*//custom select w3*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: poppins;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  color: purple;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #231F20 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #231F20 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  color: #231F20;


  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-size: 22px;
  padding-left: 20px;
}


.select-selected {
  color: #231F20;


  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  padding-left: 0px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 112%;
  left: 0;
  right: 0;
  z-index: 99;
  
      height: 199px;
    overflow-y: scroll;
}

#addMoreCountry{
	color: white;
	background: black;
	width: 150px;
}
.cstm-material{
    height: 62px;
}


#addMoreMaterial{
	color: white;
	background: black;
	width: 150px;
}

#addMoreCar{
	color: white;
	background: black;
	width: 180px;
}
.car-box-inner button{
	width: 100px;
	margin-top: 0px;
}

.car-box-inner{
	margin-top: 15px;
}
.nightBox{
	width: 100% !important;
	margin: 0px !important;
	background: white !important;
	color: black !important;
}

.nightBox::placeholder{
color: #aaa; !important;
	font-size: 18px;
	font-weight: normal;

}

#hybridSelect{

	height: 62px;
}
.cstms{
	height: 62px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}









.modal-footer .result-btn{

	border: none;
background: #231F20;
color: white;
padding: 13px;
font-weight: bold;
}

.modal-footer .back-btn{

    border: none;
background: #231F20;
color: white;
padding: 13px;
font-weight: bold;
}
.modal-footer .btn{
	color: white;
}
.modal-title{
	color: #231F20;
}
.modal-footer .btn-back{
		background: white;
	color: #231F20;;
	border: 3px solid #231F20;
	height: 35px;
	padding-top: 3px;
}
footer {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
    flex-wrap: wrap;
}
footer p {
	font-weight: normal;
    text-align: center;
    width: 100%;


}
footer .footer-text{
    font-weight: normal;
    margin: 0px;
    position: relative;
    top: 15px;
}



*
{
    user-select: none;
}

*:focus
{
    outline: none;
}

/*html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
    background-color: #ebf3f3;
}*/

.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 42px;
    margin: 0px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 46px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button
{
    position: absolute;
    top: 34px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
    margin-top: 14px;
    color: #231F20;
}

#selected-value span{
	   color: #231F20;
	   color: #d45280;
	   font-size: 22px ;
	   font-weight: 400;

}

.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    color: #231F20;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 12px;
    right: 10px;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
       top: 85px;

    left: 0px;
    width: 468px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 24px;

}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -45px;
     color: #d45280;
	   font-size: 22px ;
	   font-weight: 400;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    background-color: #ea4c89;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -45px;
     color: #d45280;
	   font-size: 22px ;
	   font-weight: 400;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -86px;
     color: #d45280;
	   font-size: 22px ;
	   font-weight: 400;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{

	
    background-color: #0057ff;
    background-color: #ea4c89;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -125px;
     color: #d45280;
	   font-size: 22px ;
	   font-weight: 400;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
     background-color: #32c766;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;

     background-color: #32c766;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -231px;
}

.option .fa-codepen
{
    color: #000;
}

.option .fa-dribbble
{
    color: #ea4c89;
}

.option .fa-behance
{
    color: #0057ff;
}

.option .fa-hackerrank
{
    color: #32c766;
}

.option .fa-stack-overflow
{
    color: #f48024;
}

.option .fa-free-code-camp
{
    color: #006400;
}

#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    background-color: #ea4c89;

    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
    background-color: #ea4c89;
}



.option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
      background-color: #32c766;
}

.option:nth-child(6):hover ~ #option-bg
{
    top: 200px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: #32c766;
}


.option:nth-child(7):hover ~ #option-bg
{
    top: 240px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
background-color: #f48024;
}

.option:nth-child(8):hover ~ #option-bg
{
    top: 280px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
background-color: #f48024;
}

.option:nth-child(9):hover ~ #option-bg
{
    top: 320px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
background-color: #f48024;
}

.option:nth-child(10):hover ~ #option-bg
{
    top: 360px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: blueviolet;
}
.option:nth-child(11):hover ~ #option-bg
{
    top: 400px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: blueviolet;
}
.option:nth-child(12):hover ~ #option-bg
{
    top: 440px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: blueviolet;
}
.option:nth-child(13):hover ~ #option-bg
{
    top: 480px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: darkgreen;
}
.option:nth-child(14):hover ~ #option-bg
{
    top: 520px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: darkgreen;
}
.option:nth-child(15):hover ~ #option-bg
{
    top: 560px;
    background-color: #006400;
    border-radius: 0 0 4px 4px;
      background-color: darkgreen;
}